<h1>Welcome to the ComicApp!</h1>

<% if user_signed_in? %>
	Welcome Home, <%= current_user.name %>! <br><br>
	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
	Please sign up or login!<br><br>
	<%= link_to "Sign up", new_user_registration_path %><br>
	<%= link_to "Login", new_user_session_path %>
<% end %>