<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Auction site</title>
</head>
<body>
	<h1>Auction Site</h1>
	<p><%= link_to("New User", new_user_path(:id)) %></p>
	<p><%= link_to("Users", users_path) %></p>
</body>
</html>