<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Auction Site</title>
</head>
<body>
	<h1>User name: "<%= @user.name %>"</h1>
	<h4>User email: "<%= @user.email %>"</h4>
	
</body>
</html>