<h1>This is a list of the 10 most recent projects</h1>

<ul>
	<% @projects.each do |project| %>
			<li> <strong><%= project.name %></strong>
				<% if project.description.present? %>
					- <%= project.description %> 
				<% end %>
			</li>
			<br>
	<% end %>
</ul>