<!-- views/new_task.erb -->
<!doctype html>

<html>

<head>
  <title>New Task</title>
</head>

<body>
  <h1>Create new task</h1>

  <form action="/create_task" method="POST">
  
  <input type="text" name="new_task" placeholder="task"> 

  <button type="submit">Submit</button>

</form>

</body>

</html>