.master {
	height: 600px;
	width: 1000px;
	text-align: center;
	margin-left: 175px;
}

.header {
	width: 100%;
	height: 100px;
	text-align: center;
	color: green;
}

.footer { 
	width: 100%;
	height: 100px;
	text-align: center;
	color: black;
}

.box {
	width: 480px;
	height: 600px;
/*	border: 5px solid black;*/
	float: right;
	padding: 5px;
	color: yellow;
}

.banner {
	width: 940px;
	height: 300px;
	color: grey;
	text-align: left;
	margin-left: 250px;
}