<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New</title>
</head>
<body>

<%= render partial: "form", locals: { project: @project, time_entry: @time_entry } %>

</body>
</html>
