<H1 style = 'color:blue;'>PATRICK HOURIHAN IS A MASTER PICKLE MAKER!</H1>

<!-- <img src=https://avatars3.githubusercontent.com/u/17889180?v=3&s=460> -->

<img src="/cool-image.jpg"
     alt="A cool picture of DWTN Miami">

<H1 style = 'color:orange;'><a href='http://www.pennyspickles.com'>EATS PENNY'S PICKLES</a></H1>

<p>
  <b>and lives in South Florida</b>
  </p> 

<p>
  <strong>Patrick</strong> likes to 1. <u>fish</u> and 2. <u>eat</u>
  </p>

<p style = 'color:orange;'>
  PATRICK's favorite website is <a href='http://www.patrickhourihan.co'>this amazing website</a>.
</p>

<p>
  The date today is <%= Date.today %>
</p>

<% if Date.today.monday? %>
  <h2>It's Monday!</h2>
<% end %>

<% if Date.today.tuesday? %>
  <h2>It's Tuesday!</h2>
  <p>
	I love Tuesdays because I teach my lovely students how to code in Sinatra.
  </p>
<% end %>

<% if Date.today.wednesday? %>
  <h2>It's Wednesday!</h2>
<% end %>

<% if Date.today.thursday? %>
  <h2>It's Thursday!</h2>
<% end %>