<!-- views/hi.erb -->
<!doctype html>

<html>

<head>
<h1> Welcome home...<%= @greeting %>!
</h1>
</head>

<body>



	<a href="http://localhost:4567/login"><button type="login" name="login" value="login">LOGIN</button></a>

</body>

</html>